footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
    color: #a2b5cd;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex: 33.33%;
}

.column > img {
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

footer > img {
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
}

footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.links a {
    text-decoration: none;
}

footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
}

footer .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

footer .legal {
    font-size: 12px;
}

footer .legal > a {
    margin: 0 4px;
}


footer .legal > span {
    margin: 10px;
}

footer.bottom .links {
    display: flex;
    margin: 0 10px;
    gap: 18px;
}


